html, body { margin:0; padding:0; height: 100%; box-sizing: border-box; }

#map {
  height: 100%;
  width: 100%;
  right: 0;
}

#sidebar {
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,.156863), 0 3px 10px rgba(0,0,0,.227451);
  z-index: 1;
}

/* draw button */
.button.text-orange, .link {
  color: #ae561f;
}

.selection-tool-draw.active, .selection-tool-draw.active:focus, .selection-tool--draw.button:focus {
  color: #fefefe;
  background-color: #ae561f;
}

/* end draw button */

.well h3 {
  margin-top: 0;
}

.mapboxgl-popup-content {
  padding: 2px 10px;
}

.main-grid {
  box-sizing: border-box;
  height: calc(100vh - 6rem);
}

/* Footer */
.site-footer {
  background: #f1f1f1;
  padding: 3rem 0;
}
